* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #e6e6e6;
}

header {
	width: 100%;
	height: 100px;
	background-image: linear-gradient(to right, indigo, blue, indigo, purple);
	line-height: 100px;
	padding: 10px 0;
}

header div {
	width: 520px;
	height: 100%;
	text-align: center;
	margin: 0 auto;
	line-height: 100px;
}

header div img {
	width: 100px;
	height: 100%;
	display: inline-block;
	float: left;
}

header div h1 {
	display: inline-block;
	float: left;
	font-size: 50px;
	color: #fff;
	margin: 0;
	padding-left: 20px;
}

.wrapper {
	min-height: calc(100vh - 150px);
	height: 100%;
	width: 520px;
	margin: 0 auto;
	background-color: #fff;
	padding: 0 20px 30px 20px;
}

.wrapper form input{
	display: inline-block;
	margin: 20px 0;
	width: calc(50% - 4px);
	height: 30px;
	font-family: arial;
}

.meme {
	position: relative;
	text-align: center;
	top: 0;
	width: 100%;
	height: 100%;
}

.meme img {
	width: 100%;
	margin: 0 auto;
	left: 0;
}

.meme h3 {
	width: 90%;
	margin: 10px;
	display: inline-block;
	position: absolute;
	transform: translateX(-50%);
	font-family: impact;
	font-size: 40px;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 2px;
	left: 50%;
	text-shadow: 
		2px 2px 0 #111, 
	   -2px -2px 0 #111, 
	   -2px 2px 0 #111, 
		2px -2px 0 #111;
}

.topText {
	top: 0;
}

.bottomText {
	bottom: 0;
}

.wrapper button {
	border: none;
	display: block;
	height: 52px;
	width: 150px;
	margin: 0 auto 10px auto;
	background-color: indigo;
	font-size: 20px;
	font-weight: 600;
	color: #fff;
	letter-spacing: 2px;
}

@media only screen and (max-width: 500px){
	header div {
		width: 100vw;
	}

	header div img {
		padding-left: 6px;
	}

	header div h1 {
		font-size: 30px;
	}

	.wrapper {
		padding: 0 10px;
		width: calc(100vw - 20px);
	}
	
	.meme h3 {
		font-family: 'Anton', sans-serif;	
	}

}
